<html lang="ja" ng-app="MyApp">
  <head>
    <title>{% if title %}{{title}}{% endif %}{% if title %}{{title_suffix}}{% endif %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}

    <meta name="author" content="ワルブリックス株式会社"/>
    <meta property="og:title" content="{% if title %}{{ title }}{%else%}ワルブリックス株式会社{%endif%}"/>
    <meta property="og:type" content="{%if not(category_name) and page_name=="index"%}website{%else%}article{%endif%}"/>
    <meta property="og:url" content="http://www.walbrix.com/jp{%if category_name %}/{{ category_name }}{%endif%}/{%if page_name != "index"%}{{page_name}}.html{%endif%}"/>
    <meta property="og:site_name" content="ワルブリックス株式会社"/>
    {%block ogp_publisher%}<meta property="article:publisher" content="https://www.facebook.com/wbrxcorp" />{%endblock%}
    {% if description %}<meta property="og:description" content="{{ description }}"/>{% endif %}
    {% if page_image %}<meta property="og:image" content="{{ page_image }}"/>{% endif %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-lightbox.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading-bar.min.css') }}">

    <script src="{{ url_for('static', filename='js/angulartics.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angulartics-ga.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angulartics-scroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/loading-bar.min.js') }}"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
    <script>
      if (/(^|;)\s*no_report=/.test(document.cookie)) {
        window['ga-disable-UA-50657-11'] = true;
      }
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50657-11', 'auto');
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/jp/">ワルブリックス株式会社</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <img style="margin: 0 auto" src="http://assets.walbrix.com/product/stdserver/header_{%if name == 'index'%}large{%else%}small{%endif%}.jpg" class="img img-responsive" alt="製品イメージ">
      {%if description%}<p class="lead">{{description}}</p>{%else%}<br>{%endif%}
      <div class="row">
	<div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
	  {{ content | safe }}
	  <p><img style="margin: 0 auto" src="http://assets.walbrix.com/product/stdserver/inquiry.png" alt="導入前のお問い合わせ電話番号 050-3159-5792" class="img-responsive"></p>
	</div>
	<div class="col-sm-3 col-md-3 col-sm-pull-9 col-md-pull-9" style="padding:0;">
	  <div class="panel panel-default">
	    <div class="panel-heading">目次</div>
	    <div class="panel-body" style="padding:0;">
	      <ul class="nav nav-stacked nav-pills">
		{% for page in pages %}
		<li{%if name == page.name%} class="active"{%endif%}><a href="{%if page.name == 'index'%}./{%else%}{{page.name}}.html{%endif%}">{{page.title}}</a></li>
		{%endfor%}
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
      <hr>
      <footer>
	Copyright(c) 2014-2015 Walbrix Corporation
      </footer>
    </div>
  </body>
</head>
